.panel-default > .panel-heading, .jumbotron{
  text-align: center;
  font-family: 'Open Sans', sans-serif;
  background-color: #286090;
  color: #fff;
  font-weight: bolder;
}

.panel-body{
  font-family: 'Open Sans', sans-serif;
}

.panel-default, .jumbotron{
  opacity: 0.85;
}

.jumbotron > h1{
  font-size: 200%;
  color: #fff;
  font-weight: bolder;
}

body{
  background-image:url("http://www.american-rails.com/images/GCTONCKLSUN29.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}
